<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <entityFramework>
        <providers>
            <provider name="MainDB" 
                      connectionString="Server=tcp:tschbot.database.windows.net,1433;Initial Catalog=Schedule;Persist Security Info=False;User ID=k.paul;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Authentication=&#34;Active Directory Integrated&#34;;"
                      providerName="System.Data.SqlClient" />
        </providers>
    </entityFramework>
</configuration>
